<!-- This is a container for each line, and the floaters section -->
<div class="wrapper wrapper-content animated fadeInRight">

    <!-- Display each resin line -->
    <resin-line ng-repeat="line in lines" orderids="line" linenumber="$index"></resin-line>

    <!-- Serialized output, mainly for debugging -->
    <div class="row">
        <div class="col-lg-12">
            <h4>Serialised Output</h4>
            <div class="output p-m m white-bg" ng-repeat="line in lines">
                <h4>Line {{$index + 1}}</h4>
                {{line}}
            </div>
        </div>
    </div>

</div>

<!-- Agile Board Template -->

<!-- <div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content resinline">
                <h3>{{$ctrl.test}}</h3>
                <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="todoList">
                    <li class="{{task.statusClass}}-element" ng-repeat="task in todoList">
                        {{task.content}}
                        <div class="agile-detail">
                            <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                            <i class="fa fa-clock-o"></i> {{task.date}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <h3>In Progress</h3>
                <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="inProgressList">
                    <li class="{{task.statusClass}}-element" ng-repeat="task in inProgressList">
                        {{task.content}}
                        <div class="agile-detail">
                            <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                            <i class="fa fa-clock-o"></i> {{task.date}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-content">
                <h3>Completed</h3>
                <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="completedList">
                    <li class="{{task.statusClass}}-element" ng-repeat="task in completedList">
                        {{task.content}}
                        <div class="agile-detail">
                            <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                            <i class="fa fa-clock-o"></i> {{task.date}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
