<!-- This is a container for each line, and the floaters section -->
<div class="wrapper wrapper-content animated fadeIn">

    <!-- <div layout="row">
      <div flex="100">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div> -->

    <!-- Display each resin line -->
    <resin-line ng-repeat="line in lines" orderids="line" linenumber="$index"></resin-line>
    <div class="col-md-2">
      <div layout="row">
        <md-button class="md-raised md-primary" data-toggle="modal" data-target="#addOrderModal">Create Order</md-button><br>
      </div>
      <div layout="row">
        <md-button class="md-raised md-primary" data-toggle="modal" data-target="#changeOrderModal">Modify Order</md-button><br>
      </div>
      <div layout="row">
        <md-button class="md-raised md-primary">Record Production</md-button><br>
      </div>
      <div layout="row">
        <md-button class="md-raised md-primary" data-toggle="modal" data-target="#saveChangesModal">Save Changes</md-button><br>
      </div>
      <div layout="row">
        <md-button class="md-raised md-warn">Revert Changes (todo)</md-button>
      </div>
      <div layout="row">
        <md-button class="md-raised md-warn" data-toggle="modal" data-target="#confirmDeleteModal">Delete Order</md-button>
      </div>
    </div>

    <!-- Modals -->
    <new-order add="$ctrl.addOrder(order)" plant="$ctrl.plant.id" />
    <save-changes plant="$ctrl.plant.id" />
    <confirm-delete plant="$ctrl.plant.id" />
    <change-order />

    <!-- Serialized output for debugging -->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h4>Serialised Output</h4>
            <div class="output p-m m white-bg" ng-repeat="line in lines">
                <h4>Line {{$index + 1}}</h4>
                {{line}}
            </div>
        </div>
    </div> -->

</div>
