<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul side-navigation class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div class="logo-element">
                  IN+
              </div>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="index.main"><i class="fa fa-home"></i> <span class="nav-label">Home page</span> </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="index.georgetown-dash"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">GT - Dash</span> </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="index.georgetown-resin"><i class="fa fa-archive"></i> <span class="nav-label">GT - Resin</span></a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="index.bluefield-resin"><i class="fa fa-archive"></i> <span class="nav-label">BF - Resin</span></a>
          </li>
      </ul>

  </div>
</nav>
