<div class="agile-detail" id="{{$ctrl.order._id}}" ng-click="$ctrl.clickProcess()">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-12 cardcolumn {{$ctrl.speedClass}}">
        <span class="text-center"><h4>{{$ctrl.spec.description}}</h4></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 cardcolumn {{$ctrl.boxClass}}">
        Part #
      </div>
      <div class="col-md-4 cardcolumn">
        <span class="text-centered">Due Date:</span>
      </div>
      <div class="col-md-4 cardcolumn {{$ctrl.palletClass}}">
        <span class="pull-right">Quantity:</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 cardcolumn">
        <h5>{{$ctrl.order.part}}</h5>
      </div>
      <div class="col-md-4 cardcolumn">
        <span class="text-centered"><h5>{{$ctrl.order.date}}</h5></span>
      </div>
      <div class="col-md-4 cardcolumn {{$ctrl.palletClass}}">
        <span class="text-center"><h5>  {{$ctrl.quantityString}}</h5></span>
      </div>
    </div>
  </div>
</div>
