<div class="agile-detail">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6 cardcolumn">
        {{$ctrl.order.part}}
      </div>
      <div class="col-md-6 cardcolumn">
        <span class="pull-right">{{$ctrl.order.date}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 cardcolumn">
        Desc. Placeholder
      </div>
      <div class="col-md-4 cardcolumn">
        <span class="pull-right">Qty:{{$ctrl.order.quantity}}</span>
      </div>
    </div>
  </div>
</div>
