/*MAIN DASH BOARD*/
.main-dash-row-item {
  margin-bottom: 0px;
}

/* AGILE BOARD */
.sortable-list {
  padding: 10px 0;
}
.agile-list {
  list-style: none;
  margin: 0;
}
.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0 0 10px 0;
  padding: 5px;
  border-radius: 2px;
}
.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}
.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}
.agile-list li.danger-element {
  border-left: 3px solid #ed5565;
}
.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}
.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}
.agile-detail {
  margin-top: 5px;
  font-size: 12px;
}
.ibox-content.resinline {
  padding: 5px;
}

div.resinline {
  padding-left: 5px;
  padding-right: 5px;
}

/*ORDER CARDS*/

.selected {
  opacity: .5;
}

.success-element.cardwrapper {

}
.cardcolumn {
  padding-left: 5px;
  padding-right: 5px;
}
.fivespeed {
  background-color: #ff6699;
  color: white;
}
.tenspeed {
  background-color: #FF4136;
  color: white;
}
.twentyspeed {
  background-color: #FF851B;
  color: white;
}
.thirtyfivespeed {
  background-color: #007fff;
  color: white;
}
.fiftyspeed {
  background-color: #5b965b;
  color: white;
}
.slowspeed {
  background-color: #EFD469;
  color: #222233;
}
.toospeedie {
  background-color: #3b444b;
  color: white;
}
.duesoon {
  background-color: #FF4136;
  color: white;
}
.stock {
  color:  #007fff;
}
.ordercardcomment {
  color: red;
}

/*ORDER DETAIL VIEW*/
.orderdetailparent {
  font-size: 1.3em;
}

/*RESIN DASH VIEW*/
.resindashparent {
  font-size: 1.3em;
}

/*MD-DATEPICKER*/
.md-datepicker-calendar-pane {
  z-index: 9999;
}

/*Navbar*/
/*.navbar-static-side {
  width: 150px;
}
*/
