<div class="ibox float-e-margins resindashparent">
  <div class="ibox-title">
    <h3>{{$ctrl.plant.name}} Dashboard (todo)</h3>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-2">
        Placeholder
      </div>
      <div class="col-md-5 text-center border-left-right border-top-bottom">
        Placeholder
      </div>
      <div class="col-md-3">
        Placeholder
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        Placeholder
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-md-3">
        Placeholder
      </div>
    </div>
  </div>
</div>
