<div class="ibox float-e-margins resindashparent animated fadeIn" style="margin-bottom: 5px;">
  <div class="ibox-title">
    <h3>{{$ctrl.plant.name}} Dashboard (work in progress)</h3>
  </div>
  <div class="ibox-content" style="padding-bottom: 3px;">
    <div layout="row">
      <div flex="25" class="text-center">
        Placeholder - Plant status and order breakdown by speed/diameter goes here
      </div>
      <div flex="50" id="dash-chart" class="border-bottom">
        <div layout="row" layout-align="center center">
          <span class="text-center">Placeholder chart - pallets and hrs demand goes here</span>
        </div>
        <div class="flot-chart dashboard-chart" style="margin-top: 3px;">
            <div flot class="flot-chart-content" dataset="$ctrl.flotData" options="$ctrl.flotOptions"></div>
        </div>
      </div>
      <div flex="25" class="text-center">
        Placeholder - Line status and demand breakdown by line goes here
      </div>
    </div>
  </div>
</div>
