<div class="ibox float-e-margins resindashparent animated fadeIn" style="margin-bottom: 5px;">
  <div class="ibox-title">
    <h3>{{$ctrl.plant.name}} Dashboard -- {{$ctrl.plant.activeShifts}} Shift ({{$ctrl.plant.shiftHours}} hrs)
      <a class="" style="margin-left: 10px;">
        <i class="fa fa-wrench" data-toggle="modal" data-target="#changePlantModal" ></i>
      </a>
    </h3>
  </div>
  <div class="ibox-content" style="padding-bottom: 3px;">
    <div layout="row">
      <div flex="25" class="text-left">
          Anticipated Late Orders: {{}} (work in progress)<br>
          5-day Demand Pallets: {{$ctrl.demand.fivedayPallets | number: 0}}<br>
          5-day Demand Plant-Hours: {{$ctrl.demand.fivedayPlantHours | number: 1}}<br>
          5-day Demand Plant ({{$ctrl.plant.shiftHours}}-hr) Shifts: {{$ctrl.demand.fivedayShifts}}
      </div>
      <!-- <div flex="50" id="dash-chart" class="border-bottom">
        <div layout="row" layout-align="center center">
          <span class="text-center">Placeholder chart - pallets and hrs demand goes here</span>
        </div>
        <div class="flot-chart dashboard-chart" style="margin-top: 3px;">
            <div flot class="flot-chart-content" dataset="$ctrl.flotData" options="$ctrl.flotOptions"></div>
        </div>
      </div> -->
      <div flex="25" class="text-left">
        Overall Stock Level: {{$ctrl.plant.stockPallets / $ctrl.plant.targetPallets * 100 | number: 1}}% <br>
        Stock Demand Pallets: {{$ctrl.plant.targetPallets - $ctrl.plant.stockPallets | number: 0}} <br>
        Stock Demand Plant-Hours: {{$ctrl.plant.inventoryDemandHours / $ctrl.plant.numLines | number: 0 }} <br>
        Stock Demand Shifts: {{$ctrl.plant.inventoryDemandHours / $ctrl.plant.numLines / $ctrl.plant.shiftHours | number: 1}}
      </div>
      <div flex="25" class="text-left">
        Line 1 Scheduled Hrs: {{$ctrl.line1hrs}} <br>
        Line 2 Scheduled Hrs: {{$ctrl.line2hrs}} <br>
        Line 3 Scheduled Hrs: {{$ctrl.line3hrs}} <br>
        Line 4 Scheduled Hrs: {{$ctrl.line4hrs}}
      </div>
      <!-- <div flex="50">
        <flot-chart inputdata="$ctrl.data"></flot-chart>
        <main-dash-resin-graph orders="$ctrl.plant.openOrders"></main-dash-resin-graph>
      </div> -->
    </div>
  </div>
</div>
