<div class="modal inmodal in" id="saveChangesModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <h2>Confirm Save changes</h2>
      </div>
      <div class="modal-body text-center">
        <strong>Are you sure you want to save changes?<br>
                Currently unable to undo this action<br><br>
        </strong>
        <form role="form" name="newOrderForm" novalidate>
          <md-button class="md-raised md-primary" ng-click="$ctrl.submit()">Save</md-button>
        </form>
      </div>
    </div>
  </div>
</div>
