<div class="modal inmodal in" id="addOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <h2>Create New Order</h2>
      </div>
      <div class="modal-body">
        <form role="form" name="newOrderForm" novalidate>
          <div class="form-group">
            <label for="">Due Date:</label>
            <md-datepicker ng-model="$ctrl.date" md-placeholder="Enter date" md-open-on-focus
            required md-autofocus md-min-date="$ctrl.mindate;"></md-datepicker>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Part Number</label>
                <input type="text" name="part" placeholder="part #"
                ng-model="$ctrl.part" value="" class="form-control" required min-length="6">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Quantity</label>
                <input type="text" name="quantity" placeholder="Quantity (pieces)"
                ng-model="$ctrl.quantity" value="" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">CO Number</label>
                <input type="text" name="conumber" placeholder="CO Number"
                ng-model="$ctrl.coNumber" value="" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Ship to</label>
                <input type="text" name="shipto" placeholder="Ship to"
                ng-model="$ctrl.shipTo" value="" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Comments</label>
                <input type="text" name="comments" placeholder="Comments / Special Instructions"
                ng-model="$ctrl.comments" value="" class="form-control">
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" ng-disabled="newOrderForm.$invalid"
          ng-click="$ctrl.submit();">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
