
<div class="navbar-header">

</div>
<div class="col-lg-3">
    <h3>Georgetown Resin Schedule</h3>
    <ol class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a>Georgetown</a>
        </li>
        <li class="active">
            <strong>Resin</strong>
        </li>
    </ol>
</div>
<div class="col-lg-3">
  Logged in as <strong>{{pubCtrl.user.email}}</strong>
  <md-button class="md-raised md-warn" data-toggle="modal" data-target="#loginModal">Login</md-button>
</div>
<div class="nav navbar-top-links navbar-right">
  <img src="img/minovalogo.png" style="width:200px;height:49px; margin-right: 200px;">
</div>
