<div class="ibox float-e-margins orderdetailparent animated fadeIn">
  <div class="ibox-title">
    <h3>Order Detail View</h3>
  </div>
  <div class="ibox-content">
    <div class="row border-bottom">
      <div class="col-md-2">
        Part Number: {{$ctrl.order.part}}
      </div>
      <div class="col-md-5 text-center border-left-right border-top {{$ctrl.speedClass}}">
        <strong>Description: {{$ctrl.spec.description}}</strong>
      </div>
      <div class="col-md-2 text-center border-right">
        Quantity: {{$ctrl.order.quantity}}
      </div>
      <div class="col-md-3 text-center">
        Ship Date: {{$ctrl.order.dueDate | date:'EEE MM/dd/yyyy'}}
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-md-3 border-right">
        {{$ctrl.spec.piecesPerBundle + ' pieces per ' + $ctrl.box}}
      </div>
      <div class="col-md-3 border-right text-center">
        {{$ctrl.spec.numBoxes + ' ' + $ctrl.boxes + ' per pallet'}}
      </div>
      <div class="col-md-3 border-right text-center">
        {{$ctrl.spec.palletCount + ' pieces per pallet'}}
      </div>
      <div class="col-md-3 text-center">
        Created Date: {{$ctrl.order.createDate | date:'EEE MM/dd/yyyy'}}
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-md-3 border-right text-center">
        Pallet Size: {{$ctrl.spec.palletSize}}
      </div>
      <div class="col-md-3 border-right text-center" ng-if="$ctrl.spec.boxDescription !=='NA'">
        Box: {{$ctrl.spec.boxDescription}}
      </div>
      <div class="col-md-3 border-right text-center" ng-if="$ctrl.spec.boxDescription === 'NA'">
        No boxes
      </div>
      <div class="col-md-3 border-right text-center">
        Ship to: {{$ctrl.order.shipTo}}
      </div>
      <div class="col-md-3 text-center">
        Order Weight: {{$ctrl.loadWeight}} lb
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 border-right border-bottom">
        Comments / Special Instructions: <strong>{{$ctrl.order.comments}}</strong>
      </div>
    </div>
    <md-button class="md-raised md-warn" data-toggle="modal" data-target="#loginModal">Login</md-button>
  </div>
</div>
