<div class="ibox float-e-margins orderdetailparent">
  <div class="ibox-title">
    <h5>Detail View</h5>
  </div>
  <div class="ibox-content" id="orderdetails">
    <div class="row">
      <div class="col-md-2">
        Part Number: {{$ctrl.order.part}}
      </div>
      <div class="col-md-5 text-center border-left-right border-top-bottom">
        Description: {{$ctrl.spec.description}}
      </div>
      <div class="col-md-3">
        Quantity: {{$ctrl.order.quantity}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        placeholder
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        Load Weight: {{$ctrl.loadWeight}} lb
      </div>
    </div>
  </div>
</div>
