<div class="modal inmodal in" id="changeOrderModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <h2>Modify Order</h2>
      </div>
      <div class="modal-body">
        <form role="form" name="changeOrderForm" novalidate>
          <div layout="row">
            <div flex="50">
              <md-input-container class="md-block">
                <label>Part Number</label>
                <input type="text" ng-model="$ctrl.params.part" required min-length="6"
                autofocus id="partnumberinput" ng-blur="$ctrl.validate();">
              </md-input-container>
            </div>
            <div flex="50">
              <md-input-container class="md-block">
                <label>Quantity</label>
                <input type="text" ng-model="$ctrl.params.quantity" required>
              </md-input-container>
            </div>
          </div>
          <div layout="row">
            <div flex="50">
              <md-input-container class="md-block">
                <label>CO Number</label>
                <input type="text" ng-model="$ctrl.params.coNumber">
              </md-input-container>
            </div>
            <div flex="50">
              <md-input-container class="md-block">
                <label>Ship to</label>
                <input type="text" ng-model="$ctrl.params.shipTo" required>
              </md-input-container>
            </div>
          </div>
          <div layout="row">
            <div flex="15">
              <md-checkbox ng-model="$ctrl.params.stock" aria-label="Cancel Order">Stock?</md-checkbox>
            </div>
            <div class="form-group" flex="50">
              <label for="" ng-if="!$ctrl.params.stock">Due Date:</label>
              <md-datepicker ng-model="$ctrl.params.dueDate" md-placeholder="Enter date" md-open-on-focus
              required md-autofocus required md-min-date="$ctrl.mindate;" ng-if="!$ctrl.params.stock"></md-datepicker>
            </div>
            <div flex=>
              <md-input-container class="md-block">
                <label>Plant</label>
                <input type="text" ng-model="$ctrl.params.plant" required>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div flex="100">
              <md-input-container class="md-block">
                <label>Comments/Special Instructions</label>
                <input type="text" ng-model="$ctrl.params.comments">
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <md-checkbox ng-model="$ctrl.cancelled" aria-label="Cancel Order">Cancel Order</md-checkbox>
            <md-input-container class="md-block" ng-if="$ctrl.cancelled">
              <label>Cancellation Reason</label>
              <input type="text" ng-model="$ctrl.params.cancelReason">
            </md-input-container>
          </div>
          <md-button class="md-raised md-primary" ng-disabled="changeOrderForm.$invalid"
          ng-click="$ctrl.submit()">Submit Order Changes</md-button>
        </form>
      </div>
    </div>
  </div>
</div>
