THIS IS A BACKUP -- SEE RESINLINE DIRECTIVE INSTEAD

<!-- <div class="col-lg-2">
  <div class="ibox">
      <div class="ibox-content resinline">
          <h3>Line {{$ctrl.linenumber + 1}}</h3>
          {{$ctrl.orderids}}<br>
          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="todoList">
              <li class="success-element" ng-repeat="order in $ctrl.orders">
                  <div class="agile-detail">
                      <a href="#" class="pull-right btn btn-xs btn-white">{{order.customer}}</a>
                      <i class="fa fa-clock-o"></i> {{order.date}}
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div> -->
